
figure {
    display: grid;
    place-content: center;
    width: 200px;
    height: 200px;
    border: 1px solid blueviolet;
    
}  

.box {
    width:100px;
    height: 100px;
    background-color: blueviolet;
}

.main {
    display: flex;
    flex-direction: row;
}